[alias]
  ls = log --pretty=format:'%C(yellow)%h%C(bold yellow)%d - %C(reset)%s%C(reset) - %C(blue)[%an] %C(green)(%cr)%C(reset)' --decorate
  ll = log --pretty=format:'%C(yellow)%h%C(bold yellow)%d%C(reset) - %s%C(reset) - %C(blue)[%an] %C(green)(%ad)%C(reset)' --decorate --numstat
  hist = log --pretty=format:'%C(yellow)%h%C(bold yellow)%d%C(reset) - %s%C(reset) - %C(blue)[%an] %C(green)(%ad)%C(reset)' --abbrev-commit --graph --color --full-history --date-order --date=default
  last = --no-pager log -1 --oneline --color
  diff-branches = "!f() { git log --left-right --graph --cherry-pick --oneline \"$1\"..\"$2\"; }; f"
  delete-merged = !git branch --merged | egrep -v '(^\\*|master|dev)' | xargs git branch -d
  delete-gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch --delete --force"

[branch]
  sort = -committerdate

[color]
  ui = auto

[column]
  ui = auto

[commit]
  verbose = true

[core]
  excludesfile = ~/.gitignore-global
  editor = vim

[credential]
  helper =

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[help]
  autocorrect = prompt

[include]
  path = ~/.gitconfig.d/global-user.gitconfig

[includeIf "gitdir:/Users"]
  path = ~/.gitconfig.d/macos.gitconfig

[includeIf "gitdir:/home"]
  path = ~/.gitconfig.d/linux.gitconfig

[include]
  path = ~/.gitconfig.d/local.gitconfig

[include]
  path = ~/.gitconfig.d/work.gitconfig

[init]
  defaultBranch = main

[merge]
  tool = vimdiff
  conflictstyle = zdiff3

[pull]
  rebase = false

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true

[tag]
  sort = version:refname
